.section-musics {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    gap: 30px;
    margin: auto;
    margin-top:50px;
}

.name-music {
   width: 30%;
}

.artist-name {
    margin-top: 20px;
}

.centralizando-musicas{
    text-align: center;
}